.messageBox {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  background-color: white;
  border-radius: 3px;
  padding: 30px 15px;

  .messageBox_header {
    display: flex;
    justify-content: space-between;

    .header_user {
      display: flex;

      .user_info {
        display: flex;
        flex-direction: column;
        margin-left: 10px;

        small {
          color: #2a8bf2;
          font-weight: 500;
          font-size: 12px;
        }

        b {
          font-size: 14px;
        }
      }
    }
    .timestamp {
      small {
        color: #707c97;
        font-size: 12px;
        font-weight: 500;
      }
    }

    .activity {
      display: flex;
      margin-top: 5px;
      align-items: center;

      .MuiSvgIcon-root {
        color: #707c97;
        font-size: 16px;
      }
    }
  }

  .messageBox_body {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .content {
      p {
        font-size: 13px;
        color: #707c97;
        font-weight: 500;
        padding-right: 30px;
        line-height: 20px;
      }
    }

    .number {
      background-color: #ff3366;
      border-radius: 50%;
      padding: 5px;
      display: grid;
      place-items: center;

      p {
        font-size: 10px;
        color: white;
        font-weight: 500;
        width: 10px;
        display: grid;
        place-items: center;
      }
    }
  }

  .message_files {
    display: flex;
    align-items: center;

    .files,
    .photo {
      display: flex;
      align-items: center;
      padding: 10px;
      border-radius: 30px;
      font-size: 14px;
      font-weight: 500;

      .MuiSvgIcon-root {
        font-size: 18px;
        margin-right: 5px;
      }
    }

    .files {
      background-color: #2a8bf25b;
      color: #2a8bf2;
    }
    .photo {
      background-color: #ff336667;
      color: #ff3366;
      margin-left: 10px;
    }
  }
  .voiceMessage {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;

    .MuiSvgIcon-root {
      font-size: 16px;
    }

    small {
      color: #707c97;
      font-weight: 500;
      margin-left: 5px;
    }
  }
}

.messageBoxInvert {
  background: rgb(85, 0, 222);
  background: linear-gradient(
    97deg,
    rgba(85, 0, 222, 1) 0%,
    rgba(124, 184, 247, 1) 0%,
    rgba(42, 139, 242, 1) 100%
  );

  .activity {
    small {
      color: white !important;
    }
  }

  .content p {
    color: white !important;
  }

  .timestamp small {
    color: #ffffffbd !important;
  }
}
